* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-button {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 8px 24px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 120px;
}

.country-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px;
  margin-top: 2rem;
}

.country-details img {
  width: 35%;
}

.details-text {
  display: flex;
  flex-direction: column;
  gap: 1rem 5rem;
  max-height: 200px;
  flex-wrap: wrap;
}

.details-text p {
  margin: 0;
}

@media (max-width: 800px) {
  .country-details {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .details-text {
    display: block;
    max-height: unset;
  }

  .details-text p {
    margin: auto;
  }

  .country-details img {
    width: 100%;
    max-width: 400px;
  }
}

.country-details img {
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.3);
}

.border-countries p span a {
  padding: 8px 25px;
  font-weight: 600;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
}

.border-countries p span a:active,
.back-button:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}

.border-countries p span {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
